/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */


#map {
  height: 100vh;
}

.mapContainer {
  height: 90%;
}

.sidebar {
  justify-content: center;

}

.container {
  padding: 0;
  margin: 0;
}

.main {
  background-color: #9ff5b6;
}

/*
 * Optional: Makes the sample page fill the window.
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
